@font-face {
	font-family: 'KGLifeisMessy';
	src: url('fonts/KGLifeisMessy.eot');
	src: local('☺'), url('fonts/KGLifeisMessy.woff') format('woff'), url('fonts/KGLifeisMessy.ttf') format('truetype'), url('fonts/KGLifeisMessy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'FuturaStd';
	src: url('fonts/Futura Std Medium.eot');
	src: local('☺'), url('fonts/Futura Std Medium.woff') format('woff'), url('fonts/Futura Std Medium.ttf') format('truetype'), url('fonts/Futura Std Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaStd';
	src: url('fonts/futura light bt.eot');
	src: local('☺'), url('fonts/futura light bt.woff') format('woff'), url('fonts/futura light bt.ttf') format('truetype'), url('fonts/futura light bt.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaStd';
	src: url('fonts/Futura Heavy font.eot');
	src: local('☺'), url('fonts/Futura Heavy font.woff') format('woff'), url('fonts/Futura Heavy font.ttf') format('truetype'), url('fonts/Futura Heavy font.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'FuturaStd';
	src: url('fonts/Futura Extra Black font.eot');
	src: local('☺'), url('fonts/Futura Extra Black font.woff') format('woff'), url('fonts/Futura Extra Black font.ttf') format('truetype'), url('fonts/Futura Extra Black font.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
