.Header{
	position: relative;
	.Logo{
		max-width: 390px;
		position:absolute;
		top:-56px;
		left:-90px;
		z-index: 100;
		transform: rotate(-35.5deg);
	}
	.Navegacion{
		position: absolute;
		left: 0;
		right: 0;
		top: 100px;
		z-index: 50;
	}
	.Nav{
		ul{
			display: flex;
			justify-content: flex-end;
			li{
				float: left;
			}
		}
		
		&__Primero{
			overflow: hidden;
			ul{
				padding-right: 85px;
				li{
					padding-left:70px;
					a{
						color: $azul;
						font-size: 27px;
						font-family: 'KGLifeisMessy'
					}
				}
			}
		}
		&__Segundo{
			margin-top: 20px;
			width: 100%;
			float:left;
			background-color:white;
			ul{
				padding: 10px 0;
				padding-right: 75px;
				li{
					padding-left: 60px;
					a{
						font-size: 24px;
						color: $fuxia;
						padding-left: 40px;
					}
					a[class^='icon']{
						position:relative;
						&::before{
							position: absolute;
							top: 0px;
							left: 0px;
							font-size: 35px;
						}
					}
					.icon-cuenta-conmigo{
						padding-left: 55px;
						&::before{
							font-size: 50px !important;
							top: -7px !important;
							left: 0 !important;
						}
					}
					.Nav__Segundo__Form{
						position: relative;
						input{
							width: 140px;
						}
						.icon-search{
							font-size: 25px;
							color: $fuxia;
							position: absolute;
							top: 5px;
							right: -30px;
						}
					}
				}
			}
		}
	}

	.Slide{
		.slidesjs-navigation{
			position: absolute;
			top: 60%;
			z-index: 60;
			color: $fuxia;
			display: inline-block;
			background-color: rgba(white,.5);
			padding: 20px 15px;
			font-size: 24px;

		}
		.slidesjs-next{
			right: 0;
		}
		.slidesjs-pagination{
			display: none;
		}
	}
}