@import "edgrid/ed-grid.scss";
@import "fonts.scss";


$azul: #0094C8;
$azulFooter: #4b75b7;
$fuxia: #E10A84;
$plomo: #575B5C;
$gris: #EBEBEB;

body{
	font-family: 'FuturaStd';
}
img{
	vertical-align: middle;
}

h1,h2,h3,h4{
	margin: 0;
	font-weight: normal;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a, a:hover{
	text-decoration: none;
}

input{
	border: 2px solid $fuxia;
	border-radius: 15px;
	height: 38px;
	outline: none;
	padding: 0 10px;
	color: $fuxia;
	font-size: 20px;
}
.Container{
	width: 100%;
	max-width: 1272px;
	margin:0 auto;
}

@import "header";

.TodasTusCuentas{
	margin-top: 4px;
	background-color:#6BC9E9;
	color: $fuxia;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	&__Texto{
		@include mainCenter;
		@include crossCenter;
		a{
			color: $fuxia;
			font-family: 'KGLifeisMessy';
			font-size: 30px;
		}
	}
}

.TipoDeCambio{
	margin-top: 4px;
	background: linear-gradient(left, #870B73, #CF0073);
	padding: 20px 100px 20px 30px;
	color:white;
	&__Titulo{
		font-family: 'KGLifeisMessy';
		margin: 0;
		font-size: 30px;
	}
	&__Lista{
		font-size: 25px;
		li{
			padding: 5px 0;
		}
	}
	&__Nota{
		font-size: 15px;
		padding-left: 10px;
		position: relative;
		margin-top: 10px;
		&::before{
			position: absolute;
			content: '*';
			left : 0;
		}
		span{
			font-weight: 500;
		}
	}
}

.Calcula{
	margin-top: 4px;
	background-color:  $gris;
	padding: 22px 0;
	&__container{
		display: flex;
		justify-content: center;
	}
	&__item{
		text-align: center;
		max-width: 300px;
		&:nth-child(2){
			margin: 0 90px;
		}
		&__contenido{
			p{
				color: $fuxia;
				font-size: 25px;
				margin: 0;
			}
			h2 a{
				color: $azul;
				font-weight: 700;
				font-size: 22px;
			}
			&.ubicanos{
				margin-top: 32px;
			}
		}
	}
}

.NuestrosProductos{
	padding: 10px 0;
	width: 75%;
	margin: 0 auto;
	h1{
		text-align: center;
		color: $plomo;
		font-size: 30px;
	}
	&__item{
		padding: 20px 30px;
		text-align: center;
		img{
			max-width: 140px;
		}
		h2{
			margin-top: 5px;
			color: $plomo;
			font-size: 20px;
		}
	}

	&__boton{
		text-align: center;
		a{
			background: linear-gradient(left, $azul, #76b6cd 90%);
			display: inline-block;
			color: white;
			padding: 5 0px;
			border-radius: 8px;
			font-weight: 100;
			padding: 4px 7px;
			width: 138px;
		}
	}
}

.ClubTFC{
	margin-top: 20px;
	color: $plomo;
	display: flex;
	&__col-1-3{
		width: 33.333%;
	}
	&__col-2-3{
		width: 66.6666%;
		.clubrow1{
			height: 42px;
			text-align: center;
			padding: 5px 0;
			img{
				padding-left: 10px;
			}
		}
		.clubrow2{
			height:  calc(100% - 42px);
			display: flex;
			flex-flow: row wrap;
			&__col1{
				width: 50%;
				padding: 0 6px;
				&__fondo{
					display: flex;
					justify-content: center;
					align-items: center;
					flex-flow: column wrap;
					height: 100%;
					padding: 0 40px;
					width: 100%;
					background: $gris;
					text-align: center;
				}
				p{
					font-size: 17px;
				}
				.diccionarioTitulo{
					margin-top: 20px;
				}
				form{
					margin-top: 20px;
					position: relative;
					input{
						width: 200px;
					}
					.icon-search{
						font-size: 25px;
						color: $fuxia;
						position: absolute;
						top: 5px;
						right: -30px;
					}
				}
			}
			&__col2{
				width: 50%;
				&__row{
					height: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					&.comoManejar{
						padding-bottom: 3px;
					}
					&.preguntasFrecuentes{
						padding-top: 3px;
					}
					.fondoComoManejar, .fondoPreguntasFrecuentes{
						background: $gris;
						height: 100%;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-flow: column wrap;
					}
					p{
						font-size: 17px;
						margin:0;
						margin-bottom: 10px;
					}
					#FormPreguntasFrecuentes
						input{
							width: 260px;
						}
				}
			}
		}
	}

	&__row{
		background: $fuxia;
		text-align: center;
		color: white;
		font-size: 24px;
		padding: 10px 0;
	}
}


.Footer{
	color: $azulFooter;
	font-size: px;
	a{	
		color: $azulFooter;
		font-size: 18px;
	}
	ul{
		margin-top: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 40px;
		li{
			padding: 3px 0;
		}
	}
	.info{
		float: right;
		border-right: 3px solid $azulFooter;
		padding-right: 50px;
		padding-left: 0;
	}
	.tarifas{
		border-right: 3px solid $azulFooter;
	}
	.leyes{
		border-right: 3px solid $azulFooter;
	}
	.siguenos{
		p{
			padding-left:40px;
		}
	}
}